@import './variables';

.blog_expended {
  position: relative;
  article {
    margin-top: 2em;
    @include flexBox(center, flex-start);
    gap: 10px;
    [data-pic] {
      position: relative;
      width: 35px;
      border-radius: 50%;
      overflow: hidden;
      aspect-ratio: 1;
    }
  }
  [data-blog-img-big] {
    position: relative;
    width: 100%;
    // aspect-ratio: 2/1.2;
    background-color: var(--bg-nav);
    margin-bottom: 20px;
  }

  [data-mdx-wrapper] {
    padding: Clamp(45px, 3vw, 4em) 0;
    *:not(h1, h2, h3, h4, h5, h6) {
      font-size: var(--font-big);
      line-height: 1.8;
      color: var(--color-secondary);
    }
    *:is(h1, h2, h3, h4, h5, h6) {
      margin: 50px 0 20px 0;
    }
    pre {
      background: var(--bg-fifth);
      padding: 15px;
      margin: 10px 0;
      border-radius: 10px;
      overflow: auto;
      code {
        font-size: var(--font-middle);
        color: var(--color-primary);
      }
    }
    a {
      color: var(--color-blue);
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      padding: 20px;
      li {
        list-style: inside;
      }
    }
    blockquote {
      position: relative;
      border-left: 5px solid var(--bg-fifth);
      margin: 20px 0;
      * {
        opacity: 0.7;
      }
      p {
        padding: 0px 20px;
      }
    }
  }
}
