.blog_item {
  position: relative;
  width: Min(550px, 100%);
  [data-blog-img] {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 2/1.2;
    background: var(--bg-nav);
  }
  h3 {
    margin: 15px 0 0.8rem 0;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: var(--font-middle);
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
