:root {
  --keyword: hsl(316, 73%, 69%); // const
  --string: hsl(71, 92%, 75%);
  --function: hsl(135, 94%, 65%);
  --punctuation: hsl(196, 61%, 70%);
  --property-access: hsl(274, 57%, 72%);
  --parameter: hsl(31, 100%, 70%);

  --import-name: #a6acc0;
  --keyword-module: #89ddff;
  --keyword: #c792d8;
  --string: #c3e88d;
  --function: #82aaf5;
  --punctuation: hsl(196, 100%, 38%);
  --others: #abaccd;
  --others2: #dd7a71;
  --parameter: #ff5770;
  --number: #f58c6c;
}

[data-mdx-wrapper] {
  padding: Clamp(45px, 3vw, 4em) 0;
  color: var(--color-secondary);
  line-height: 2;
  *:not(h1, h2, h3, h4, h5, h6, pre, code) {
    font-size: var(--font-big);
  }
  *:is(h1, h2) {
    margin: 50px 0 20px 0;
  }
  p {
    code {
      background: var(--bg-fifth);
      padding: 4px 8px;
      border-radius: 6px;
      font-size: var(--font-middle);
    }
  }
  a {
    color: var(--color-blue);
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    padding: 20px;
    li {
      list-style: inside;
    }
  }

  hr {
    opacity: 0.2;
  }
  blockquote {
    position: relative;
    border-left: 5px solid var(--bg-fifth);
    margin: 20px 0;
    * {
      opacity: 0.7;
    }
    p {
      padding: 0px 20px;
    }
  }
}

pre {
  line-height: 1.4;
  background: var(--bg-code-material);
  padding: 15px;
  margin: 10px 0;
  border-radius: Clamp(4px, 2vw, 20px);
  overflow: auto;
  max-height: 100vh;

  code {
    font-size: var(--font-middle);
    color: #abaccd;
    span.token {
      &.comment {
        opacity: 0.5;
        font-style: italic;
        color: var(--import-name);
      }
    }
    &.language-html,
    &.language-css,
    &.language-scss,
    &.language-jsx,
    &.language-js {
      color: var(--others2) !important;
      span.token {
        &.imports {
          span {
            color: var(--import-name);
          }
        }
        &.keyword,
        &.operator {
          color: var(--keyword);
        }
        &.keyword.module,
        &.keyword.control-flow {
          font-style: italic;
          color: var(--keyword-module);
        }
        &.unit,
        &.number {
          color: var(--number);
        }
        &.property-access {
          color: var(--others);
        }
        &.string {
          color: var(--string);
        }
        &.function {
          &,
          span {
            color: var(--function);
          }
        }
        &.punctuation {
          color: var(--keyword-module);
        }
        &.parameter {
          color: var(--parameter);
        }

        // html
        &.tag {
          color: var(--others2);
          .punctuation {
            color: var(--keyword-module);
          }
          .class-name {
            color: vaR(--string);
          }
          .attr-name {
            color: var(--keyword);
            font-style: italic;
          }
          .attr-value {
            color: var(--string);
          }
        }
      }
    }

    &.language-html,
    &.language-jsx {
      color: var(--others) !important;
    }
    // css, scss
    &.language-css,
    &.language-scss {
      span.token {
        &.keyword {
          font-style: italic;
          color: var(--keyword-module);
          & + .string {
            border-bottom: 2px solid var(--string);
          }
        }
        &.punctuation {
          color: var(--keyword);
        }
        &.property {
          color: var(--keyword-module);
        }
        &.color {
          color: var(--others2);
        }
        &.selector {
          .pseudo-class {
            font-style: italic;
            color: var(--string);
          }
        }
      }
    }
  }
}
