@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

:root {
  --bg-primary: #000;
  --bg-secondary: #303131;
  --bg-third: #414045;
  --bg-fourth: #313035;
  --bg-fifth: #262530;
  --bg-nav: #212025;
  --bg-relative: #444;
  --bg-code-dracula: #282a36;
  --bg-code-material: #292d3e;

  --bg-home: #001f29;
  --bg-blogs: #270029;
  --bg-tech: #001b2a;
  --bg-say: #001d07;

  --color-primary: #fffffa;
  --color-secondary: #b8b8b8;
  --color-light: #555;
  --color-greenlight: #a1e7a1;
  --color-blue: #6183fc;
  --color-red: red;
  --color-brown: #686060;
  --color-selection: rgba(171, 172, 205, 0.25);

  --color-blue-700: #006699ff;

  --font-bigger: 22px;
  --font-big: 20px;
  --font-middle: 18px;
  --font-small: 14px;

  --z-index-1: 100;
  --z-index-2: 90;

  --invert: invert(1) hue-rotate(180deg);
  &::-webkit-scrollbar-thumb {
    background: var(--bg-third);
  }
}
#light {
  --bg-primary: #f5f5fa;
  --bg-secondary: #f2f5f8;
  --bg-third: #ededed;
  --bg-fourth: #fff;
  --bg-fifth: #d7e7f1;
  --bg-nav: #fff;
  --bg-relative: #ccc;

  --bg-home: #eaeaf3;
  --bg-blogs: #f700ff18;
  --bg-tech: #006eff28;
  --bg-say: #00ff4017;

  --color-primary: #000;
  --color-secondary: #444;
  --color-light: #afb8b8;
  --color-greenlight: #3c9c3c;
  --color-blue: #5073f1;

  --invert: invert(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--bg-home);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-light);
  }
  &::selection {
    background: var(--color-selection);
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: 'IBM Plex Sans', 'Lato', sans-serif;
  overflow-y: scroll;
  @include background(--bg-home);
  // --bg-blogs, --bg-tech, --bg-say
  background-attachment: fixed;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-section {
  margin-top: Max(100px, 10%);
}

p {
  color: var(--color-secondary);
  font-size: var(--font-middle);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.link {
  &,
  * {
    text-decoration: underline;
    color: var(--color-blue);
  }
}

h1,
h2,
h3 {
  color: var(--color-primary);
}
h1 {
  font-size: 2.1rem;
}
h1,
h2 {
  letter-spacing: -1.2px;
  line-height: 1em;
  font-weight: 700;
}
h2.h2 {
  font-size: Clamp(2rem, 4vw, 2.5rem);
}
h3 {
  font-size: var(--font-bigger);
  font-weight: 500;
}
.big-title {
  font-size: Clamp(2.5rem, 7vw, 3.5rem);
  font-weight: 700;
  margin-bottom: 10px;
}
button {
  cursor: pointer;
  border: none;
  &.btn-1 {
    padding: 13px 20px;
    border-radius: 6px;
    font-size: var(--font-small);
    color: white;
    font-weight: 600;
    @include flexBox;
    gap: 10px;
    background: var(--color-blue);
  }
  &.circle {
    border-radius: 50%;
    aspect-ratio: 1;
  }
  &.hover-scale {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.15);
    }
  }
  &.red {
    background: var(--color-red);
  }
  &.brown {
    background: var(--color-brown);
  }
}
.filter {
  &.-shadow {
    filter: drop-shadow(-1px -1px white);
  }
  &.-invert {
    filter: var(--invert);
  }
}
.default-radius {
  border-radius: Clamp(4px, 2vw, 20px);
  overflow: hidden;
}
.radius-light {
  border-radius: 6px;
  overflow: hidden;
}
.shadow {
  box-shadow: -2px 2px 5px rgba(black, 0.03), -5px 7px 15px rgba(black, 0.03),
    0 0 10px rgba(black, 0.02);
}
.cut-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  &.-at-1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
  }
  &.-at-2 {
    -webkit-line-clamp: 2;
  }
  &.-at-3 {
    -webkit-line-clamp: 3;
  }
}
.card-glass {
  background: linear-gradient(168deg, var(--bg-fourth) 30%, transparent);
  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    right: 0;
    filter: blur(3px);
  }
  &.border {
    &:before,
    &:after {
      filter: blur(1px);
    }
  }
  &:before {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--bg-fourth));
  }
  &:after {
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--bg-fourth));
  }
}
.container {
  position: relative;
  margin: 0 auto;
  width: Min(850px, calc(100% - 40px));
  width: Min(850px, 94%);
  &.pad {
    padding-top: 50px;
  }
}

footer {
  width: 100%;
  border-top: 1px solid var(--bg-fifth);
  margin-top: 80px;
  padding: 30px 0 50px 0;
  section {
    margin-top: 50px;
    @include flexBox(flex-start, space-between);
    gap: 20px;
    flex-wrap: wrap;
    ul {
      @include flexBox(flex-start, flex-start, column);
      gap: 15px;
      p {
        cursor: pointer;
        transition: color 0.3s;
        @include flexBox;
        gap: 3px;
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
