@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

:root {
  --bg-primary: #000;
  --bg-secondary: #303131;
  --bg-third: #414045;
  --bg-fourth: #313035;
  --bg-fifth: #313035;
  --bg-nav: #212025;

  --bg-home: #001f29;
  --bg-blogs: #270029;
  --bg-tech: #001b2a;
  --bg-say: #001d07;

  --color-primary: #fffffa;
  --color-secondary: #b8b8b8;
  --color-light: #555;
  --color-greenlight: #a1e7a1;
  --color-blue: #6183fc;
  --color-red: red;
  --color-brown: #686060;

  --font-bigger: 22px;
  --font-big: 20px;
  --font-middle: 18px;
  --font-small: 14px;

  --z-index-1: 100;
  --invert: invert(1) hue-rotate(180deg);
  &::-webkit-scrollbar-thumb {
    background: var(--bg-third);
  }
}
#light {
  --bg-primary: #fff;
  --bg-secondary: #f2f5f8;
  --bg-third: #ededed;
  --bg-fourth: #fff;
  --bg-fifth: #d7e7f1;
  --bg-nav: #fff;

  --bg-home: #00c3ff28;
  --bg-blogs: #f700ff18;
  --bg-tech: #006eff28;
  --bg-say: #00ff4017;

  --color-primary: #000;
  --color-secondary: #444;
  --color-light: #afb8b8;
  --color-greenlight: #3c9c3c;
  --color-blue: #5073f1;

  --invert: invert(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--bg-home);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-light);
  }
  &::selection {
    background: var(--bg-home);
    color: var(--color-blue);
  }
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'IBM Plex Sans', 'Lato', sans-serif;
  overflow-y: scroll;
  @include background(--bg-home);
  // background: #000;
  &.blogs {
    @include background(--bg-blogs);
    &::-webkit-scrollbar {
      background: var(--bg-blogs);
    }
  }
  &.tech {
    @include background(--bg-tech);
    &::-webkit-scrollbar {
      background: var(--bg-tech);
    }
  }
  &.say {
    @include background(--bg-say);
    &::-webkit-scrollbar {
      background: var(--bg-say);
    }
  }
  background-attachment: fixed !important;

  .big-title {
    font-size: Clamp(2.5rem, 7vw, 3.5rem);
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    color: var(--color-secondary);
    font-size: var(--font-middle);
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  h1,
  h2,
  h3 {
    color: var(--color-primary);
  }
  h1,
  h2 {
    letter-spacing: -1.2px;
    line-height: 1em;
    font-weight: 700;
  }
  h2 {
    font-size: Clamp(2rem, 4vw, 2.5rem);
  }
  h3 {
    font-size: var(--font-bigger);
    font-weight: 500;
  }
  button {
    cursor: pointer;
    &.btn-1 {
      padding: 13px 20px;
      border-radius: 6px;
      border: none;
      font-size: var(--font-small);
      color: white;
      font-weight: 600;
      @include flexBox;
      gap: 10px;
      background: var(--color-blue);
      &.red {
        background: var(--color-red);
      }
      &.brown {
        background: var(--color-brown);
      }
    }
  }
  .filter {
    &.-shadow {
      filter: drop-shadow(-1px -1px white);
    }
    &.-invert {
      filter: var(--invert);
    }
  }
  .default-radius {
    border-radius: Clamp(4px, 2vw, 20px);
    overflow: hidden;
  }
  .radius-light {
    border-radius: 6px;
    overflow: hidden;
  }
  .shadow {
    box-shadow: -5px 7px 15px rgba(black, 0.03);
  }
  .container {
    position: relative;
    margin: 0 auto;
    width: Min(850px, calc(100% - 40px));
    &.pad {
      padding-top: 50px;
    }
  }
}

footer {
  width: 100%;
  border-top: 1px solid var(--bg-fifth);
  margin-top: 80px;
  padding: 30px 0 50px 0;
  h3 {
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }
  section {
    margin-top: 50px;
    @include flexBox(flex-start, space-between);
    gap: 20px;
    flex-wrap: wrap;
    ul {
      @include flexBox(flex-start, flex-start, column);
      gap: 15px;
      p {
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
