@import './variables.scss';

.nav {
  position: relative;
  box-shadow: -5px 7px 15px rgba(black, 0.05);
  &,
  nav {
    background: var(--bg-nav);
    border-radius: 6px;
  }
  padding: 0 20px;
  margin-bottom: Max(70px, 8%);
  height: 70px;
  @include flexBox(center, space-between);
  [data-header-logo] {
    @include flexBox;
    gap: 15px;
    span {
      display: none;
      font-size: var(--font-middle);
      color: var(--color-primary);
      cursor: pointer;
      transform: translateY(2px);
    }
    h3 {
      a {
        color: var(--color-primary);
        font-size: var(--font-big);
      }
    }
  }
  a {
    font-size: var(--font-middle);
    color: var(--color-secondary);
  }
  ul {
    @include flexBox;
    gap: 25px;
    li {
      &[data-active='active'] {
        a {
          font-weight: 700;
        }
      }
    }
  }
  aside {
    position: relative;
    height: calc(100% - 36px);
    @include flexBox;
    button {
      border-radius: 6px;
      border: none;
      height: 100%;
      font-size: var(--font-small);
      font-weight: 600;
      &[data-name='join'] {
        color: white;
        width: 60px;
        margin-right: 10px;
        background: var(--color-blue);
      }
      &[data-name='theme'] {
        background: var(--bg-third);
        padding: 0 10px;
        color: var(--color-primary);
      }
    }
  }
  nav {
    position: absolute;
    width: Min(320px, 100%);
    height: 320px;
    padding: 20px;
    top: calc(100% + 15px);
    right: 0;
    filter: drop-shadow(-5px 5px 15px rgba(black, 0.05));
    z-index: var(--z-index-1);
    &:before {
      position: absolute;
      top: -20px;
      right: 80px;
      content: '';
      border: 10px solid transparent;
      border-bottom-color: var(--bg-nav);
    }
  }
  @media (max-width: 700px) {
    [data-header-logo] {
      span {
        display: block;
      }
    }
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: var(--bg-nav);
      border-radius: 0 0 6px 6px;
      z-index: var(--z-index-1);
      @include flexBox(flex-start, flex-start, column);
      display: none;
      gap: 5px;
      padding: 10px 20px 15px 20px;
      box-shadow: -5px 7px 15px rgba(black, 0.05);
      li {
        width: 100%;
        a {
          padding: 10px 0;
          display: block;
          transition: color 0.2s;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    &[data-menu='open'] {
      border-radius: 6px 6px 0 0;
      ul {
        display: flex;
      }
    }
  }
}

.hero {
  [data-user] {
    @include flexBox(center, space-between);
    flex-wrap: wrap;
    gap: 30px;
    [data-userinfo] {
      p {
        &:last-child {
          margin-top: 30px;
        }
      }
    }
    [data-pic] {
      overflow: hidden;
      border-radius: 50%;
    }
  }
  [data-walkthrough] {
    position: relative;
    [data-timeline-wrapper] {
      [data-timeline-year] {
        margin: 15px 0;
      }
    }
    section {
      position: absolute;
      z-index: -1;
      top: -60px;
      right: 0;
      @include flexBox(initial, initial, column);
      gap: 10px;
      div {
        position: relative;
        width: 120px;
        &[data-express] {
          transform: translate(-10em, 0);
        }
        &[data-mongodb] {
          width: 130px;
        }
        &[data-nodejs] {
          transform: translate(-8em, 2em);
          width: 130px;
        }
        &[data-nextjs] {
          transform: translate(-9em, 0);
          width: 130px;
        }
      }
      @media (max-width: 700px) {
        top: -100px;
        opacity: 0.7;
      }
    }
  }
}

#projects {
  position: relative;
  h3 {
    z-index: var(--z-index-1);
    display: inline-block;
  }
  > section {
    position: relative;
    width: 100%;
    @include flexBox(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 20px;
  }
  > aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    z-index: var(--z-index-1);
    overflow-y: auto;
    > div {
      height: 100%;
    }
  }
  [data-expand-back] {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(black, 0.5);
    z-index: var(--z-index-2);
    backdrop-filter: blur(4px);
  }
  #project {
    position: relative;
    width: 100%;
    @include flexBox(flex-start, flex-start);
    padding: 20px;
    > div:nth-child(1) {
      position: relative;
      min-width: 250px;
      max-width: 250px;
    }
    article {
      position: relative;
      overflow: hidden;
      padding-left: 20px;
      a {
        font-size: var(--font-middle);
        text-decoration: underline;
        font-weight: 600;
        color: var(--color-blue);
        i {
          margin-right: 8px;
          font-size: calc(var(--font-middle) - 2px);
          font-weight: 500;
        }
      }
      p {
        margin-top: 10px;
      }
    }
    button {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      font-size: var(--font-middle);
      background: var(--bg-fourth);
      color: var(--color-secondary);
    }
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 20px;
      > div:nth-child(1) {
        min-width: 100%;
        max-width: 100%;
      }
      article {
        padding: 0;
      }
    }
  }
  > aside {
    #project {
      background: var(--bg-nav);
      @include flexBox(flex-start, flex-start, column);
      gap: 20px;
      header {
        position: relative;
        width: 100%;
        @include flexBox(center, space-between);
        button {
          position: relative;
          bottom: 0;
          right: 0;
          border: 1px solid var(--bg-fifth);
          background: var(--bg-third);
        }
      }
      [data-project-img] {
        position: relative;
        min-width: 100%;
        max-width: 100%;
        z-index: var(--z-index-1);
      }
      article {
        padding: 0;
        p {
          display: inline-block;
        }
      }
    }
  }
}

#someProjects {
  position: relative;
  width: 100%;
  > h4 {
    width: max-content;
    margin-top: 20px;
    font-size: var(--font-big);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-secondary);
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: var(--color-blue);
    }
  }
}

#certifications {
  position: relative;
  #certification {
    &:not(:first-of-type) {
      margin-top: 30px;
    }
    & > div {
      width: Min(700px, 100%);
    }
    p {
      margin-top: 10px;
      color: var(--color-primary);
      line-height: 1.4;
      a {
        color: var(--color-blue);
        font-weight: 600;
      }
    }
  }
}
