@import './variables';

#tech_wrapper {
  position: relative;
  width: 100%;
  & > div {
    &:not(:first-child) {
      margin-top: 30px;
    }
    & > section {
      position: relative;
      width: 100%;
      @include flexBox;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}
