@import './variables';

#tech_wrapper {
  position: relative;
  width: 100%;
  & > h2 {
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-top: 50px;
    }
  }
  section {
    position: relative;
    width: 100%;
    @include flexBox;
    gap: 20px;
    flex-wrap: wrap;
  }
}
