@import './variables';

#timeline {
  position: relative;
  padding: 20px;
  @include flexBox(flex-start, flex-start);
  transition: transform 0.4s, background 0.6s;

  &:hover {
    transform: scale(1.02);
    background: var(--bg-fourth);
    transition: transform 0.2s, background 0s;
  }
  &[data-line='no'] {
    @include flexBox(center, flex-start);
    gap: 10px;
    flex: 1 0 calc(50% - 10px);
    @media (max-width: 700px) {
      flex: 1 0 100%;
    }
    i {
      position: relative;
      min-width: 100px;
      max-width: 100px;
      aspect-ratio: 1;
      @include flexBox;
      & > div {
        position: relative;
        width: 100%;
      }
    }
  }
  &[data-line='yes'] {
    i {
      font-size: var(--font-middle);
      transform: translateY(5px);
      color: var(--color-greenlight);
    }
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  article {
    margin-left: 10px;
    h3 {
      margin-bottom: 10px;
    }
  }
}
